html {
	scrollbar-track-color: #FAE0E3;
	scrollbar-face-color: #FAE0E3;
	scrollbar-shadow-color: #D13C52;
	scrollbar-darkshadow-color: #FAE0E3;
	scrollbar-highlight-color: #D13C52;
	scrollbar-3dlight-color: #FAE0E3;
	scrollbar-arrow-color: #D13C52;
}

body {
	margin: 0;
	background-image: url('images/h4_bg.gif');
	background-color: #FAE0E3;
	color: #999;
	font-family: Arial, Helvetica, "ＭＳ Ｐゴシック", Osaka;
}

/* Link Color
--------------------------*/
a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #D13C52; text-decoration: none; }
a:active { color: #D13C52; text-decoration: none; }

#titlePosition {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#blogTitleText {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

#blogTitleText a:link { color: #333; }
#blogTitleText a:visited { color: #333; }
#blogTitleText a:active { color: #333; }
#blogTitleText a:hover { color: #D13C52; }

#blogDescription {
	paddin-top: 1em;
	font-size: small;
	line-height: 1.3em;
	color: #333;
}

#copyright {
	padding-top: 1em;
	text-align: center;
	font-size:x-small;
}


/* --------------------------------------- レイアウト */
#contentBody {
	width: 678px;
	margin: 0 auto;
}

#layoutHead {
	position:relative;
	width: 678px;
	height: 148px;
	background-image: url('images/h4_mainimage.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#layoutBody {
	width: 678px;
	margin: 0 auto;
	padding-bottom: 30px;
	background-image: url('images/h4_side2.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

#layoutMain {
	width: 372px;
	padding: 0 5px;
}

#layoutSide {
	width: 143px;
	font-size: small;
	line-height: 1.3em;
	background-color: #fff;
}

#layoutFoot {
	width: 678px;
	margin: 0 auto;
	background-color: #fff;
	border-top: 2px #D13C52 solid;
}


/* --------------------------------------- エントリー */
.entryBody {
	clear: both;
	width: 382px;
	padding: 0 0 5px;
	background-color: #fff;
	background-image: url('images/h4_foot.gif');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.entryTitle {
	padding-bottom: 1em;
	font-size: medium;
	color: #999;
}

.entryDate {
	padding-top: 1em;
	padding-bottom: 1.5em;
	font-family: Arial, Helvetica;
	font-size: small;
	text-align: right;
}

.entryContents {
	padding: 20px 12px 1em;
	font-size:small;
	line-height: 1.3em;
}

.entryContents img {
	display: block;
	padding-bottom: 1em;
	border: 0;
}

.entryState {
	font-size: x-small;
}

.pageup {
	padding-left: 10px;
}

.pageup img {
	padding: 0 !important;
	border: 0;
}


/* --------------------------------------- コメント */
.comments {
	clear: both;
	margin-top: 1em;
	padding-bottom: 2em;
	border-top: 1px #999 dashed;
}


/* --------------------------------------- サイドバー */
/* Calendar
--------------------------*/
#calendarBox {
	width: 678px;
	background-color: #D14869;
}

#calendarBox form {
	display: none;
}

#dispCalendar {
	width: 678px;
}

.calendar {
	width: 500px;
	height: 24px;
	table-layout: fixed;
	font-size: 10px;
	font-family: Arial, Helvetica;
}

.calendar td {
}

.cell_sunday {
}

.cell_today {
	border-bottom: 1px #fff solid !important;
	font-weight: bold !important;
}

.calendar a {
	color: #fff;
}

.calendarNavi {
	font-size: 10px;
}

.calendarNavi img {
	border: 0;
}


/* New Entries
--------------------------*/
#newentriesBox {
	width: 129px;
	padding: 33px 7px 10px;
	background-image: url('images/h4_newentries.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

.icoList {
	padding: 0 0 5px 10px;
	background-image: url('images/h4_ico.gif');
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 1em;
}


/* Categories
--------------------------*/
#categoriesBox {
	width: 129px;
	padding: 33px 7px 10px;
	background-image: url('images/h4_categories.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Recent Comments
--------------------------*/
#RCommentsBox {
	width: 129px;
	padding: 33px 7px 10px;
	background-image: url('images/h4_comments.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Profile
--------------------------*/
#profileBox {
	width: 129px;
	padding: 33px 7px 10px;
	background-image: url('images/h4_profile.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Links
--------------------------*/
#linksBox {
	width: 129px;
	padding: 33px 7px 10px;
	background-image: url('images/h4_link.gif');
	background-repeat: no-repeat;
	background-position: left top;
}
