html {
	scrollbar-track-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #c00;
	scrollbar-darkshadow-color: #fff;
	scrollbar-highlight-color: #c00;
	scrollbar-3dlight-color: #fff;
	scrollbar-arrow-color: #c00;
}

body {
	margin: 0;
	background-image: url('images/s2_bg.gif');
	background-color: #fff;
	color: #999;
	font-family: Arial, Helvetica, "ＭＳ Ｐゴシック", Osaka;
}

/* Link Color
--------------------------*/
a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #c00; text-decoration: none; }
a:active { color: #c00; text-decoration: none; }

#blogTitleText {
	font-size: 20px;
	font-weight: bold;
}

#blogDescription {
	padding-top: 0.5em;
	font-size: small;
	line-height: 1.3em;
}

#copyright {
	padding: 30px 0 0;
	font-size:x-small;
	text-align: center;
}


/* --------------------------------------- レイアウト */
#contentBody {
	width: 678px;
	margin: 0 auto;
	background-color: #fff;
}

#layoutHead {
	width: 678px;
	height: 95px;
	background-image: url('images/s2_mainimage.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

#layoutTitle {
	width: 598px;
	padding: 20px 40px;
}

#layoutBody {
	width: 637px;
	margin: 0 auto;
}

#layoutMain {
	width: 329px;
}

#layoutSide {
	width: 145px;
}

#layoutFoot {
	clear: left;
	width: 678px;
	margin: 0 auto;
	border-top: 1px #c00 solid;
}


/* --------------------------------------- エントリー */
.entryBodySet {
	clear: right;
	width: 329px;
	background-image: url('images/s2_dot.gif');
}

.entryBody {
	width: 329px;
}
.entryBody td {
	padding: 5px 10px;
	background-color: #fff;
}

.entryTitle {
	font-size: medium;
	background-image: url('images/s2_ico2.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 15px;
}

.entryDate {
	float: right;
	padding-bottom: 1em;
	font-family: Arial, Helvetica;
	font-size: x-small;
}

.entryContents {
	clear: right;
	padding: 12px;
	font-size:small;
	line-height: 1.3em;
}

.entryContents img {
	display: block;
	padding-bottom: 1em;
	border: 0;
}

.pageup {
	float: right;
	padding: 10px 0;
}

.pageup img {
	padding: 0 !important;
	border: 0;
}

.states {
	text-align: center;
	font-size: x-small;
}

.sideBoxSet {
	margin-bottom: 10px;
	width: 145px;
	background-image: url('images/s2_dot.gif');
}

/* Calendar
--------------------------*/
#calendarBox {
	width: 145px;
}
#calendarBoxTtl {
	padding: 20px 4px 10px;
	background-image: url('images/s2_calendar.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}

#calendarBox form {
	display: none;
}

#dispCalendar {
	width: 135px;
}
#dispCalendar td {
	background-color: #fff;
}

.calendar {
	width: 100%;
	border-spacing: 2px;
	font-size: 11px;
	font-family: Arial, Helvetica;
}

.calendar td {
	width: 15px;
	height: 12px;
	color: #999;
	border: 1px #ccc solid;
}

.cell_sunday {
	color: #f99 !important;
	border: 1px #f99 solid !important;
}

.cell_today {
	font-weight: bold !important;
}

.calendar a {
	display: block;
	background-color: #fcc;
}

.calendarNavi {
	font-size: 10px;
}

.calendarNavi img {
	border: 0;
}

/* New Entries
--------------------------*/
#newentriesBox {
	width: 145px;
	height: 30px;
}
#newentriesBox td {
	padding: 20px 10px 10px;
	background-image: url('images/s2_newentries.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}

.list {
	padding: 0 0 5px 10px;
	background-image: url('images/s2_ico.gif');
	background-repeat: no-repeat;
	background-position: left top;
	font-size: small;
	line-height: 1em;
}

/* Categories
--------------------------*/
#categoriesBox {
	width: 145px;
	height: 30px;
}
#categoriesBox td {
	padding: 20px 10px 10px;
	background-image: url('images/s2_categories.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}


/* Recent Comments
--------------------------*/
#RCommentsBox {
	width: 145px;
	height: 30px;
}
#RCommentsBox td {
	padding: 20px 10px 10px;
	background-image: url('images/s2_comments.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}

/* Profile
--------------------------*/
#profileBox {
	width: 145px;
	height: 30px;
}
#profileBox td {
	padding: 20px 10px 10px;
	background-image: url('images/s2_profile.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}

/* Links
--------------------------*/
#linksBox {
	width: 145px;
	height: 30px;
}
#linksBox td {
	padding: 20px 10px 10px;
	background-image: url('images/s2_link.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #fff;
}


