html {
	scrollbar-track-color: #D8AFAF;
	scrollbar-face-color: #D8AFAF;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: #D8AFAF;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #D8AFAF;
	scrollbar-arrow-color: #fff;
}

body {
	margin: 0;
	background-color: #D8AFAF;
	color: #999;
	font-family: Arial, Helvetica, "ＭＳ Ｐゴシック", Osaka;
}

/* Link Color
--------------------------*/
a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #c66; text-decoration: none; }
a:active { color: #c66; text-decoration: none; }

#blogTitle {
	position: relative;
	top: 70px;
}

#blogTitleText {
	margin: 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#blogTitleText a:link { color: #999; }
#blogTitleText a:visited { color: #999; }
#blogTitleText a:active { color: #999; }
#blogTitleText a:hover { color: #D8AFAF; }

#blogDescription {
	margin: 0.5em 0 20px;
	font-size: small;
	line-height: 1.3em;
	text-align: center;
}

#copyright {
	padding-top: 1em;
	text-align: center;
	font-size:x-small;
}


/* --------------------------------------- レイアウト */
#contentBody {
	width: 678px;
	margin: 0 auto;
	background-color: #fff;
}

#layoutHead {
	position: relative;
	width: 678px;
	height: 216px;
	background-image: url('images/w4_mainimage.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#layoutBody {
	width: 648px;
	padding-top: 24px;
	margin: 0 auto;
}

#layoutMain {
	width: 320px;
	padding: 0 10px;
	float: left;
}

#layoutSideL {
	width: 154px;
	float: left;
	font-size: x-small;
	line-height: 1.3em;
}
#layoutSideR {
	width: 154px;
	float: left;
	font-size: x-small;
	line-height: 1.3em;
}

#layoutFoot {
	clear: both;
	width: 678px;
	margin: 1em auto;
	background-color: #fff;
	border-top: 2px #c66 solid;
}

#layoutSideL table {
	margin-bottom: 10px;
}

#layoutSideR table {
	margin-bottom: 10px;
}

/* --------------------------------------- エントリー */
.entryBody {
	width: 320px;
	margin-bottom: 10px;
}

.entryBodyTop {
	height: 30px;
	background-image: url('images/w4_maintop.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

.entryBodyBtm {
	position: relative;
	height: 30px;
	background-image: url('images/w4_mainbtm.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

.entryTitle {
	width: 270px;
	margin-bottom: 20px;
	font-size: medium;
}

.entryDate {
	padding-top: 0.5em;
	font-size: x-small;
	text-align: center;
}

.states {
	padding-top: 2em;
	font-size: x-small;
	text-align: center;
}

.entryContents {
	padding: 0 25px;
	background-image: url('images/w4_mainbg.gif');
	background-repeat: repeat-y;
	background-position: left top;
	font-size:x-small;
	line-height: 1.3em;
}

.entryContents img {
	display: block;
	padding-bottom: 1em;
	border: 0;
}

.pageup {
	position: relative;
	top: 2px;
}

.pageup img {
	padding: 0 !important;
	border: 0;
}

.CommentStates {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: x-small;
	text-align: center;
}


/* --------------------------------------- サイドバー */
/* Recommend
--------------------------*/
.sideBoxBody0 {
	padding: 10px 0;
	background-image: url('images/w4_sidebg.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

.sideBoxBody {
	padding: 10px 10px;
	background-image: url('images/w4_sidebg.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

.sideBoxBtm {
	height: 13px;
	background-image: url('images/w4_sidebtm.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Calendar
--------------------------*/
#calendarBox {
	width: 635px;
}

#calendarBox form {
	display: none;
}

#dispCalendar {
	width: 635px;
}

.calendar {
	width: 500px;
	table-layout: fixed;
	font-size: 10px;
	font-family: Arial, Helvetica;
}

.calendar td {
}

.cell_sunday {
}

.cell_today {
	border-bottom: 1px #fff solid !important;
	font-weight: bold !important;
}

.calendar a {
	color: #666;
}

.calendarNavi {
	font-size: 10px;
}

.calendarNavi img {
	border: 0;
}


/* New Entries
--------------------------*/
#newentriesBox {
	width: 154px;
	height: 17px;
	background-image: url('images/w4_newentries.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Categories
--------------------------*/
#categoriesBox {
	width: 154px;
	height: 17px;
	background-image: url('images/w4_categories.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Recent Comments
--------------------------*/
#RCommentsBox {
	width: 154px;
	height: 17px;
	background-image: url('images/w4_comments.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Profile
--------------------------*/
#profileBox {
	width: 154px;
	height: 17px;
	background-image: url('images/w4_profile.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Links
--------------------------*/
#linksBox {
	width: 154px;
	height: 17px;
	background-image: url('images/w4_link.gif');
	background-repeat: no-repeat;
	background-position: left top;
}
