html {
	scrollbar-track-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #f93;
	scrollbar-darkshadow-color: #fff;
	scrollbar-highlight-color: #f93;
	scrollbar-3dlight-color: #fff;
	scrollbar-arrow-color: #f93;
}

body {
	margin: 0;
	background-color: #fff;
	color: #999;
	font-family: Arial, Helvetica, "ＭＳ Ｐゴシック", Osaka;
}

/* Link Color
--------------------------*/
a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #f93; text-decoration: none; }
a:active { color: #f93; text-decoration: none; }

#titlePosition {
	position: absolute;
	top: 20px;
	left: 20px;
}
#titlePosition img {
	border: 0;
}

#copyright {
	padding-top: 1em;
	text-align: center;
	font-size:x-small;
}

.sepborder {
	border-top: 1px #f93 dashed;
}

/* --------------------------------------- レイアウト */
#contentBody {
	width: 678px;
	margin: 0 auto;
}

#layoutHead {
	position:relative;
	width: 678px;
	height: 140px;
	background-image: url('images/e3_mainimage.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#layoutBody {
	width: 678px;
	margin: 0 auto;
	padding-bottom: 30px;
	background-image: url('images/e3_side2.gif');
	background-repeat: repeat-y;
	border-bottom: 2px #f93 solid;
}

#layoutMain {
	width: 523px;
}

#layoutSide {
	width: 155px;
	font-size: small;
	line-height: 1.3em;
}

#layoutFoot {
	width: 678px;
	margin: 0 auto;
	background-color: #fff;
}


/* --------------------------------------- エントリー */
.entryBody {
	clear: left;
	width: 522px;
}

.entryTitle {
	padding-left: 20px;
	padding-bottom: 1em;
	background-image: url('images/e3_ico.gif');
	background-repeat: no-repeat;
	background-position: left top;
	font-size: medium;
	color: #999;
}

.entryDate {
	padding-right: 30px;
	font-family: Arial, Helvetica;
}

.entryContents {
	padding: 20px;
	font-size:small;
	line-height: 1.3em;
}

.entryContents img {
	display: block;
	padding-bottom: 1em;
	border: 0;
}

.entryState {
	padding: 2px;
	font-size: x-small;
	background-color: #EBEADC;
}

.pageup {
	padding-left: 10px;
}

.pageup img {
	padding: 0 !important;
	border: 0;
}


/* --------------------------------------- コメント */
.commentState {
	clear: both;
	padding: 2px;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: x-small;
	background-color: #EBEADC;
}


/* --------------------------------------- サイドバー */
.icoList {
	padding: 0 0 5px 8px;
	background-image: url('images/e3_ico2.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Calendar
--------------------------*/
#calendarBox {
	width: 678px;
	background-color: #f93;
}

#calendarBox form {
	display: none;
}

#dispCalendar {
	width: 678px;
}

.calendar {
	width: 500px;
	height: 24px;
	table-layout: fixed;
	font-size: 10px;
	font-family: Arial, Helvetica;
}

.calendar td {
}

.cell_sunday {
}

.cell_today {
	border-bottom: 1px #fff solid !important;
	font-weight: bold !important;
}

.calendar a {
	color: #fff;
}

.calendarNavi {
	font-size: 10px;
}

.calendarNavi img {
	border: 0;
}


/* New Entries
--------------------------*/
#newentriesBox {
	width: 115px;	
	padding: 32px 20px 10px;
	background-image: url('images/e3_newentries.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Categories
--------------------------*/
#categoriesBox {
	width: 115px;	
	padding: 32px 20px 10px;
	background-image: url('images/e3_categories.gif');
	background-repeat: no-repeat;
	background-position: left top;
}


/* Recent Comments
--------------------------*/
#RCommentsBox {
	width: 115px;	
	padding: 32px 20px 10px;
	background-image: url('images/e3_comments.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Links
--------------------------*/
#linksBox {
	width: 115px;	
	padding: 32px 20px 10px;
	background-image: url('images/e3_link.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Profile
--------------------------*/
#profileBox {
	width: 115px;	
	padding: 32px 20px 10px;
	background-image: url('images/e3_profile.gif');
	background-repeat: no-repeat;
	background-position: left top;
}
