html {
	scrollbar-track-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #696;
	scrollbar-darkshadow-color: #fff;
	scrollbar-highlight-color: #696;
	scrollbar-3dlight-color: #fff;
	scrollbar-arrow-color: #696;
}

body {
	margin: 0;
	background-color: #fff;
	color: #999;
	font-family: Arial, Helvetica, "ＭＳ Ｐゴシック", Osaka;
}

/* Link Color
--------------------------*/
a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #696; text-decoration: none; }
a:active { color: #696; text-decoration: none; }

#blogTitleText {
	padding-top: 65px;
	padding-left: 35px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

#blogTitleText a:link { color: #333; }
#blogTitleText a:visited { color: #333; }
#blogTitleText a:active { color: #333; }
#blogTitleText a:hover { color: #696; }

#copyright {
	padding: 30px 0 0;
	font-size:x-small;
}


/* --------------------------------------- レイアウト */
#contentBody {
	width: 678px;
	margin: 0 auto;
	background-color: #fff;
}

#layoutHead {
	width: 678px;
	height: 162px;
	background-image: url('images/h1_mainimage.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#layoutBody {
	width: 678px;
	margin: 0 auto;
	background-image: url('images/h1_side2.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

#layoutMain {
	width: 532px;
	background-color: #fff;
	border-left: 1px #696 solid;
}

#layoutSide {
	width: 145px;
	background-image: url('images/h1_side.gif');
	background-repeat: repeat-y;
	background-position: left top;
}

#layoutFoot {
	width: 678px;
	margin: 0 auto;
	border-top: 1px #696 solid;
}


/* --------------------------------------- エントリー */
.entryBody {
	clear: right;
	width: 532px;
	border-bottom: 1px #696 solid;
}

.entryTitle {
	font-size: medium;
	padding-bottom: 1em;
}

.entryDate {
	padding: 1em 0;
	font-family: Arial, Helvetica;
	font-size: x-small;
	text-align: right;
}

.entryContents {
	padding: 20px;
	font-size:small;
	line-height: 1.3em;
}

.entryContents img {
	display: block;
	padding-bottom: 1em;
	border: 0;
}

.pageup {
	padding-left: 10px;
}

.pageup img {
	padding: 0 !important;
	border: 0;
}

.stateBody {
	width: 528px;
	padding: 2px;
	font-size: x-small;
	background-color: #EBEADC;
}


/* --------------------------------------- コメント */
.commentBody {
	clear: right;
	width: 532px;
	border-bottom: 1px #696 solid;
}

.commentTitle {
	padding: 5px 10px;
	font-size: medium;
}

.commentContents {
	padding: 20px;
	font-size:small;
	line-height: 1.3em;
}

.comments {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.stateBodyShort {
	width: 528px;
	padding: 2px;
	font-size: x-small;
	background-color: #EBEADC;
	border-bottom: 1px #696 solid;
}

/* --------------------------------------- トラックバック */
.trackbackBody {
	clear: right;
	width: 532px;
}

.trackbackTitle {
	padding: 5px 10px;
	font-size: medium;
}

.trackbackContents {
	padding: 20px;
	font-size:small;
	line-height: 1.3em;
}

.trackbacks {
	margin-bottom: 1em;
	padding-bottom: 1em;
}


/* --------------------------------------- サイドバー */
/* Calendar
--------------------------*/
#calendarBox {
	width: 135px;	
	padding: 25px 5px 10px;
	background-image: url('images/h1_calendar.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

#calendarBox form {
	display: none;
}

#dispCalendar {
	width: 135px;
}

.calendar {
	width: 100%;
	border-spacing: 2px;
	font-size: 11px;
	font-family: Arial, Helvetica;
}

.calendar td {
	width: 15px;
	height: 12px;
	border: 1px #999 solid;
}

.cell_sunday {
	color: #696;
}

.cell_today {
	border: 1px #696 solid !important;
	font-weight: bold !important;
}

.calendar a {
	display: block;
	background-color: #fff;
}

.calendarNavi {
	font-size: 10px;
}

.calendarNavi img {
	border: 0;
}

/* New Entries
--------------------------*/
#newentriesBox {
	width: 125px;	
	padding: 25px 10px 10px;
	background-image: url('images/h1_newentries.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

.list {
	padding: 0 0 5px 8px;
	background-image: url('images/h1_ico.gif');
	background-repeat: no-repeat;
	background-position: left top;
	font-size: small;
	line-height: 1em;
}

/* Categories
--------------------------*/
#categoriesBox {
	width: 125px;	
	padding: 25px 10px 10px;
	background-image: url('images/h1_categories.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Profile
--------------------------*/
#profileBox {
	width: 125px;	
	padding: 25px 10px 10px;
	background-image: url('images/h2_profile.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

/* Links
--------------------------*/
#linksBox {
	width: 125px;	
	padding: 25px 10px 10px;
	background-image: url('images/h2_links.gif');
	background-repeat: no-repeat;
	background-position: left top;
}

